<section class="py-5">
  <div class="container">
    <h2 class="text-center mb-4">{{ 'OUR_SERVICES.TITLE' | translate }}</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ 'OUR_SERVICES.CUSTOM_RAILINGS.TITLE' | translate }}</h5>
            <p class="card-text">{{ 'OUR_SERVICES.CUSTOM_RAILINGS.DESCRIPTION' | translate }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ 'OUR_SERVICES.COMMERCIAL_PROJECTS.TITLE' | translate }}</h5>
            <p class="card-text">{{ 'OUR_SERVICES.COMMERCIAL_PROJECTS.DESCRIPTION' | translate }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ 'OUR_SERVICES.RESIDENTIAL_PROJECTS.TITLE' | translate }}</h5>
            <p class="card-text">{{ 'OUR_SERVICES.RESIDENTIAL_PROJECTS.DESCRIPTION' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
